.footer
  .container-fluid
    .palette  
      .row
        .col-md-1.one
          regalvelvet
        .col-md-1.two
          sand
        .col-md-1.three
          sunrise
        .col-md-1.four
          stone
        .col-md-1.five
          agave
        .col-md-1.six
          terminal
        .col-md-1.seven
          stagsblood
        .col-md-1.eight
          aquamarine
        .col-md-1.nine
          dusk
        .col-md-1.ten
          lace
        .col-md-1.eleven
          charcoal
        .col-md-1.twelve
          midgrey
