#artists-list.paginated{param: :artists_page}
  %h4
    =@artists.total_count
    Artists
  =paginate @artists, param_name: :artists_page, remote: true
  -@artists.each do |artist|
    =link_to artist.name, artist_path(artist)

