// Palette 1 - cowboys
$regal-velvet: hsla(262%, 22%, 10%, 1);
$sand: hsla(35%, 67%, 57%, 1);
$sunrise: hsla(14%, 100%, 65%, 1);
$stone: hsla(42%, 100%, 81%, 1);
$agave: hsla(88%, 100%, 93%, 1);


// Palette 2 - fantasy
$charcoal: hsla(0%, 0%, 35%, 1);
$dusk: hsla(0%, 0%, 21%, 1);
$lace: rgba(247,244,234, 1);

// Palette 3 - primaries
$bru: hsla(31, 94%, 61%, 1);
$midnight: hsla(224, 100%, 5%, 1);
$terminal: hsla(116, 100%, 40%, 1);
$stagsblood: hsla(0, 78%, 21%, 1);
$squidink: hsla(225, 27%, 17%, 1);
$aquamarine: hsla(199, 35%, 45%, 1);

// Offtones
$darkgrey: hsla(0, 0%, 15%, 1);
$midgrey: hsla(0, 0%, 40%, 1);
$lightgrey: hsla(0, 0%, 65%, 1);

