@import "../../styles/app.scss";

.header{

  background: $squidink;
  border-bottom: 1px solid hsla(0, 0, 25, 1);
  padding-top: 5px;
  &-content{
    display:block;
    padding: 5px;
    .logo{
      font-size: 2.5em;
      line-height: 1.2em;
      color: $aquamarine;
      text-shadow: 0px 0px 25px $regal-velvet;
    }
    .search-input{
      border-radius: 1rem;
    }
  }
  

}


